<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <h1>Are you sure you want to delete?</h1>
    <br>
    <form method="post" action="/user/<%=task.id%>?_method=Delete" >
        <button>Yes</button>
    </form>
    <form action="/view" method="get">
        <button>No</button>
    </form>
</body>
</html>