<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TODO LIST:</h1>
        <% if (todos && todos.length > 0) { %>
            <ul>
                <% todos.forEach(todo => { %>
                    <li><%= todo.todo_task %></li>
                    <form action="/user/<%=todo.id%>/edit" method="get" >
                        <button>Edit todo</button>
                    </form>
                    <form action="/user/<%=todo.id%>/delete" method="get">
                        <button>Delete todo</button>
                    </form>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No todos found.</p>
        <% } %>
    <form method = "get" action="/user/add">
        <button>Add more</button>
    </form>
    <form action="/logout" method="post">
        <button >Logout</button>
    </form>
</body>
</html>