<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post" >
        <label for="username">Username:</label><br>
        <input type="text" name="username" placeholder="username here:"><br>
        <label for="pwd">Password:</label><br>
        <input type="password" name="pwd" placeholder="password">
        <br>
        <button>Submit</button>
    </form>      
    <hr>
    <form action="/login" method="get">
        <p>Already signed up?</p>
        <button>Log in</button>
    </form>
</body>
</html>